.contactBody {
  margin-top: 10%;
  text-align: center;
  opacity: 0;
}

.contactButton {
  margin-top: 15px;
  padding: 5px 10px;
}

.tooltip {
  margin-top: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

.tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.resume {
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .resume {
    width: 80%;
  }

  .contactBody {
    margin-top: 1%;
  }
}
