.portfolio {
  opacity: 0;
  margin: 10%;
  margin-top: 30px;
}

.portfolioShow img {
  height: 200px;
  min-width: 200px;
}

.portfolioShow .title {
  z-index: 100;
  color: white;
  text-align: center;
  top: 25px;
  position: relative;
  opacity: 0;
}

.portfolioShow:hover .title {
  opacity: 1;
  transition: opacity 2s;
}

.zoom {
  overflow: hidden;
  flex-basis: auto;
  cursor: pointer;
  display: block;
  border-radius: 0px;
}

.zoom:hover {
  border-radius: 15px;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.zoom:hover img {
  transform: scale(1.2);
  transition: transform 1s ease;
}

.selectedShow {
  text-align: center;
  opacity: 0;
  padding: 15px;
  padding-bottom: 100px;
}

.selectedShow img {
  margin: 5px;
}

.selectedShowInfo {
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
}

.portfolioCloseButton {
  background: transparent;
  border: 0;
  width: 40px;
  height: 40px;

  position: absolute;

  top: 10px;
  right: 5px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
