.spinner div {
  background: rgb(122, 122, 122);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: absolute;
  width: 175px;
  height: 233px;

  text-align: center;
  line-height: 120px;
  font-size: 100px;
}

.spinner .face1 {
  width: 175px;
  height: 233px;
  -webkit-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  transform: translateZ(116px);
}
.spinner .face2 {
  width: 233px;
  height: 233px;
  border: 1px solid grey;
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) scaleX(-1) translateZ(58px);
}
.spinner .face3 {
  width: 175px;
  height: 233px;
  transform: rotateX(90deg) translateZ(116px);
}
.spinner .face4 {
  -webkit-transform: rotateY(180deg) translateZ(60px);
  -ms-transform: rotateY(180deg) translateZ(60px);
  transform: rotateY(180deg) rotateZ(180deg) translateZ(116px);
}
.spinner .face5 {
  width: 233px;
  height: 233px;
  border: 1px solid grey;
  -webkit-transform: rotateY(-90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) translateZ(60px);
  transform: rotateY(-90deg) translateZ(117px);
}
.spinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px);
  transform: rotateX(-90deg) translateZ(116px);
}

.spinner {
  -webkit-animation: spincube 3s ease-in-out infinite;
  animation: spincube 9s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 87px 116px 0;
  -ms-transform-origin: 87px 116px 0;
  transform-origin: 87px 116px 0;
}

.spinnerActivated {
  animation: sideRotate 3s forwards;
}

.spinnerActivated .face5 {
  border: 0;
  width: 100vw;
  height: 80vh;
  background: rgb(122, 122, 122);
  background: radial-gradient(
    circle,
    rgb(122, 122, 122) 0%,
    rgb(122, 122, 122) 100%
  );
  transform: rotateY(-90deg) translateZ(117px) translateX(-30px);
  transition: width 1s 2.5s, height 1s 2.5s, transform 1s 2.5s;
}

.spinnerActivated .face2 {
  opacity: 0;
  transition: opcaity 1s 2.5s;
}

@media screen and (min-width: 768px) {
  .spinnerActivated .face5 {
    width: 80vw;
    height: 80vh;
    transform: rotateY(-90deg) translateX(-60px);
    transition: width 1s 2.5s, height 1s 2.5s, transform 1s 2.5s;
  }
  #second .spinnerActivated .face5 {
    transform: rotateY(-90deg) translateX(60px);
  }
}

@keyframes spincube {
  0% {
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  25% {
    -ms-transform: rotateX(90deg);
    transform: rotateX(-90deg);
  }
  27% {
    -ms-transform: rotateX(90deg);
    transform: rotateX(-90deg);
  }
  50% {
    -ms-transform: rotateX(180deg);
    transform: rotateX(-180deg);
  }
  52% {
    -ms-transform: rotateX(180deg);
    transform: rotateX(-180deg);
  }
  75% {
    -ms-transform: rotateX(270deg);
    transform: rotateX(-270deg);
  }
  77% {
    -ms-transform: rotateX(270deg);
    transform: rotateX(-270deg);
  }
  100% {
    -ms-transform: rotateX(360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes sideRotate {
  100% {
    transform: rotateY(90deg) rotateX(-360deg);
  }
}
